@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #f1faee;
  box-shadow: 5px 5px 0 #e63946;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 50px;
  max-width: 100vw;
}
header #logo {
  height: 20px;
  width: 20px;
  margin: 15px;
}
header nav {
  display: flex;
  flex-direction: column;
}
header nav a {
  padding: 1rem;
  height: 50px;
  width: 50px;
  color: black;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}
header nav a:hover {
  background-color: #e63946;
  color: #f1faee;
}

#introduction {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1550063873-ab792950096b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-color: #f1faee;
  color: #f1faee;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#introduction .bg-text {
  width: 500px;
  max-width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#introduction .engineer {
  display: flex;
  justify-content: center;
}
#introduction .engineer .text-before {
  margin-right: 0.5rem;
}
#introduction .engineer .text-after {
  margin-left: 0.5rem;
}
#introduction .engineer .typewrite {
  background-color: #e63946;
}

#projects {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background: url($projects-bg-url);
  background-repeat: no-repeat;
  background-position: 20% 105%; 
  background-size: 80vmin; */
  background-color: #f1faee;
  position: relative;
  min-height: 100vh;
  padding: 1rem;
}
#projects #projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
#projects #projects-container .project-card {
  background-color: #1d3557;
  width: 300px;
  color: #f1faee;
  filter: grayscale(0);
  cursor: pointer;
  transition: all 0.5s;
}
#projects #projects-container .project-card .img-container {
  height: 300px;
  width: 300px;
}
#projects #projects-container .project-card .info-container {
  height: 100px;
  padding: 0.5rem;
}
#projects #projects-container .project-card .info-container .technologies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
#projects #projects-container .project-card .info-container .technologies .tech {
  font-size: 0.8rem;
  color: black;
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 2rem;
}
#projects #projects-container .hover-btns {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#projects #projects-container .hover-btns .live-demo-btn, #projects #projects-container .hover-btns .view-github-btn {
  display: none;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  background-color: #457b9d;
  color: #f1faee;
  border: 1px solid #f1faee;
}

#design {
  background-color: #f1faee;
  max-width: 100vw;
  padding: 1rem;
  text-align: center;
}
#design .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-items: center;
  margin: 1rem auto;
  width: 800px;
  max-width: 100%;
  color: #f1faee;
}
#design .card-container .card-core {
  background-color: #e63946;
  height: 100px;
  max-height: 30vh;
  width: 300px;
  max-width: 100vw;
  padding: 0.9rem;
  border-radius: 3rem;
  position: relative;
}
#design .card-container .card-core:nth-child(odd) h3 {
  font-weight: 400;
  margin-top: 25px;
  text-align: left;
}
#design .card-container .card-core:nth-child(even) h3 {
  font-weight: 400;
  margin-top: 25px;
  text-align: right;
}
#design .card-container .card-core:nth-child(odd) img {
  top: 10px;
  right: 10px;
}
#design .card-container .card-core:nth-child(even) img {
  top: 10px;
  left: 10px;
}
#design .card-container .card-core .img-container {
  border-radius: 3rem;
}
#design .card-container .card-core img {
  background-color: #f1faee;
  max-height: 80px;
  max-width: 80px;
  padding: 0.5rem;
  position: absolute;
  border-radius: 3rem;
}

#resume {
  background-color: #a8dadc;
  height: 200px;
  max-height: 100vh;
  position: relative;
  text-align: center;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}
#resume .resume-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem;
}
#resume .resume-container p {
  margin: 1rem;
}
#resume .resume-container button {
  margin: 0 auto;
}

#certificates {
  background-color: #457b9d;
  padding: 1rem;
}
#certificates h2 {
  color: #f1faee;
}
#certificates #certificates-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  max-width: 800px;
  margin: 0 auto;
}
#certificates .certificate-card {
  background-color: #f1faee;
  box-shadow: 5px 5px 0 #e63946;
  width: 300px;
  margin: 1rem;
}
#certificates .certificate-card .img-container {
  height: 50px;
}
#certificates .certificate-card .info-container {
  padding: 1rem;
}
#certificates .certificate-card .info-container a {
  color: #1d3557;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
}
#certificates .certificate-card .info-container a:hover {
  color: #e63946;
}

#tools {
  height: 100px;
  background-color: #1d3557;
  transform: translate3d(0, 0, 0);
}
#tools .slider {
  background: #1d3557;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 800px;
  max-width: 100%;
}
#tools .slider::before, #tools .slider::after {
  background: linear-gradient(to right, #1d3557 0%, rgba(29, 53, 87, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 1;
}
#tools .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
#tools .slider::before {
  left: 0;
  top: 0;
}
#tools .slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(200px * 8);
}
#tools .slider .slide {
  height: 100px;
  width: 200px;
  position: relative;
}
#tools .slider .slide img {
  max-height: 50px;
  filter: grayscale(1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #1d3557;
  height: 75px;
  position: relative;
}
footer #footer-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
footer #footer-links a {
  font-size: 30px;
  color: #f1faee;
  text-decoration: none;
  margin: 0.5rem;
}
footer #footer-links a i {
  transition: all 0.5s;
}
footer #footer-links a i:hover {
  transform: scale(1.2);
}

#modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  animation: fadein 0.5s forwards;
}
#modal #modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  height: 900px;
  max-width: 90vw;
  width: 600px;
  margin: 1rem 0;
  padding: 1rem;
  overflow: hidden;
  animation: popin 0.5s forwards;
}
#modal #modal-content embed {
  height: 100%;
  width: 100%;
}

@keyframes popin {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes popout {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes fadein {
  from {
    background-color: none;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes fadeout {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: none;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 4.31));
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin: 1rem;
  text-align: center;
}

button {
  background-color: #f1faee;
  box-shadow: 5px 5px 0 #e63946;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background-color: #e63946;
  color: #f1faee;
  box-shadow: 7px 7px 0 #f1faee;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: translate(-2px, -2px);
}

a {
  text-decoration: none;
  color: #1d3557;
}
a:hover {
  color: #e63946;
}

/*# sourceMappingURL=app.css.map */
