#projects {
  @include center-bg-img;
  height: 100vh;
  background: url($projects-bg-url);
  background-repeat: no-repeat;
  background-position: 20% 105%; 
  background-size: 80vmin;
  background-color: $projects-bg-color;
  position: relative;

  span {
    @include center-center;
  }
}